header {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 2fr) 1fr;
  height: 100%;
}

.headerLeftBox {
  position: relative;
  background: #8D0B15;
  background: linear-gradient(to right, #999, #333);
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
.headerLeftBox:after {
  content: "";
  position: absolute;
  height: 9px;
  width: 9px;
  bottom: 0;
  right: 0;
  border-top-left-radius: 10px;
  background-color: #ddd;
  z-index: 3;
}

.headerCenterBox {
  background: linear-gradient(to bottom, #999, #333);
  border-bottom: 12px solid #ddd;
}

.headerRightBox {
  position: relative;
  background: #8D0B15;
  background: linear-gradient(to left, #999, #333);
  border-left: 2px solid black;
  border-bottom: 2px solid black;
}
.headerRightBox:after {
  content: "";
  position: absolute;
  height: 9px;
  width: 9px;
  bottom: 0;
  left: 0;
  border-top-right-radius: 10px;
  background-color: #ddd;
  z-index: 3;
}

.layoutContainer {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 2fr) 1fr;
  height: 100%;
}

.leftBox {
  background: linear-gradient(to right, #999, #333);
  border-right: 12px solid #ddd;
}

.rightBox {
  background: linear-gradient(to left, #999, #333);
  border-left: 12px solid #ddd;
}

footer {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 2fr) 1fr;
  height: 100%;
}

.footerLeftBox {
  position: relative;
  background: #8D0B15;
  background: linear-gradient(to right, #999, #333);
  border-right: 2px solid black;
  border-top: 2px solid black;
}
.footerLeftBox:after {
  content: "";
  position: absolute;
  height: 9px;
  width: 9px;
  top: 0;
  right: 0;
  border-bottom-left-radius: 10px;
  background-color: #ddd;
  z-index: 3;
}

.footerCenterBox {
  background: linear-gradient(to top, #999, #333);
  border-top: 12px solid #ddd;
}

.footerRightBox {
  position: relative;
  background: #8D0B15;
  background: linear-gradient(to left, #999, #333);
  border-left: 2px solid black;
  border-top: 2px solid black;
}
.footerRightBox:after {
  content: "";
  position: absolute;
  height: 9px;
  width: 9px;
  top: 0;
  left: 0;
  border-bottom-right-radius: 10px;
  background-color: #ddd;
  z-index: 3;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html {
  font-family: "Newsreader", serif;
  font-size: 1.5em;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: 1fr minmax(300px, 6fr) 1fr;
  min-height: 100vh;
}

h1 {
  text-align: center;
  font-family: "Rampart One", sans-serif;
}

p {
  padding: 0 15px;
  text-align: center;
  font-size: 1.2em;
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translateY(-20px);
    filter: blur(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}
.centerBox {
  animation: fadein 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  display: relative;
  background-color: #aaa;
  padding: 30px 15px;
  justify-content: space-around;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45) inset;
}

main {
  background-color: #eee;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45) inset;
  align-self: center;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.form__dropdownContainer {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #aaa, #ccc);
  padding: 15px;
  margin: 20px 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45) inset, 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
}
.form__dropdownContainer__label {
  text-align: center;
  margin-bottom: 15px;
}
.form__dropdownContainer__dropdown {
  scale: 1.2;
  align-self: center;
  min-width: 150px;
  width: 75%;
  border-radius: 20px;
  border: 3px solid #fff;
}
.form__numberContainer {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #aaa, #ccc);
  padding: 15px;
  margin: 20px 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45) inset, 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
}
.form__numberContainer__label {
  text-align: center;
  margin-bottom: 15px;
}
.form__numberContainer__input {
  scale: 1.2;
  align-self: center;
  min-width: 150px;
  width: 75%;
  border-radius: 20px;
  border: 3px solid #fff;
}
.form__instructions {
  font-size: 16px;
}
.form__btn {
  position: relative;
  padding: 20px 40px;
  border-radius: 7px;
  border: 1px solid rgb(128, 128, 128);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 1px;
  background: transparent;
  color: #000000;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 15px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45) inset;
  background-image: linear-gradient(90deg, #aaa, #eee, #aaa);
}
.form__btn:hover {
  background: rgb(61, 106, 255);
  box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.form__btn:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}
.form__btn::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}
.form__btn:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
.form__btn--answer {
  margin: 10px 20px;
  padding: 10px 20px;
}
.form__btn--answer:hover {
  background: rgb(20, 197, 35);
  box-shadow: 0 0 30px 5px rgba(0, 196, 16, 0.815);
}
.form__btn--answer.selected {
  background: linear-gradient(rgb(1, 207, 1), rgb(73, 235, 73));
}

.backForm {
  position: relative;
  top: 0;
  left: 0;
  transform: translateY(-26px);
}

.backBTN {
  position: absolute;
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  font-size: 0.8em;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.548);
  z-index: 3;
}
.backBTN:hover span {
  display: none;
}
.backBTN:hover::after {
  content: "back";
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}/*# sourceMappingURL=styles.css.map */